[submodule "semester-2/cpp/boe-order-execution-priamoryki-master/googletest"]
	path = semester-2/cpp/boe-order-execution-priamoryki-master/googletest
	url = https://github.com/google/googletest.git
[submodule "semester-2/cpp/calc-number-system-priamoryki-master/googletest"]
	path = semester-2/cpp/calc-number-system-priamoryki-master/googletest
	url = https://github.com/google/googletest.git
[submodule "semester-2/cpp/inverted-index-priamoryki-master/googletest"]
	path = semester-2/cpp/inverted-index-priamoryki-master/googletest
	url = https://github.com/google/googletest.git
[submodule "semester-2/cpp/monte-carlo-pi-priamoryki-master/googletest"]
	path = semester-2/cpp/monte-carlo-pi-priamoryki-master/googletest
	url = https://github.com/google/googletest.git
[submodule "semester-2/cpp/seam-carving-priamoryki-master/googletest"]
	path = semester-2/cpp/seam-carving-priamoryki-master/googletest
	url = https://github.com/google/googletest.git
[submodule "semester-5/PHP/the-best-vk-bot"]
	path = semester-5/PHP/the-best-vk-bot
	url = https://github.com/priamoryki/the-best-vk-bot.git
[submodule "semester-5/blockchain/itmo-blockchain"]
	path = semester-5/blockchain/itmo-blockchain
	url = https://github.com/priamoryki/itmo-blockchain.git
[submodule "semester-6/GO/validator"]
	path = semester-6/GO/validator
	url = https://github.com/priamoryki/validator
[submodule "semester-6/GO/go-course-for-students"]
	path = semester-6/GO/go-course-for-students
	url = https://github.com/priamoryki/go-course-for-students
